/* Font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*-----------
 common styles 
 -------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* header area style */
header{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
 .banner-heading{
    width: 485px;
    margin-right: 103px;
    margin-left: 156px;
    margin-top: 207px;
    margin-bottom: 240px;
}
.banner-title{
    color:  #FFFFFF;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 27px;
    
    }

.button-design{
    background-color: #2D25A0;
    height: 44px;
    width: 168px;
    padding: 10px 24px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
   
    }
/* button hover */
.button-design:hover{
    background-color: #E02C6D;
    }

.fa-arrow-right{
    padding-left: 8px;
}
/* image Transform and Transition */
.banner-image img{
    width: 556px;
    height: 438px;
    margin-top: 153px;
    margin-bottom: 86px;
    transition: transform 1s ease-in-out;
}
.banner-image img:hover{
    transform: rotate(10deg);
    }
/*----------------------
   players section style 
  ----------------------*/
  .container{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .players{
      display: grid;
      grid-template-columns: repeat(3 ,1fr);
      grid-row-gap: 27px;
      grid-column-gap: 30px;
  }
  .placard{
      width: 330px;
      height: 474px;
      margin-right: 0;
      padding: 15px 0px 33px 0px;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

  }
  .player-image{
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
  }
.player-image img{
    width: 100%;
    height: 256px;
    
}
.player-info{
    width: 300px;
    height: 154px;
    margin-left: 15px;
    margin-right: 15px;
}
.player-name{
    color: #18191F;
    font-size: 28px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player-detail{
    color: #6C6C6C;
    margin-top: 0px 0px;
}

/* extra section */
.ranking{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 43px;
    border: 1px solid gray;
    padding: 40px;
}
.world-heading{
         padding-right: 40px;
}
.ranking-info{
    padding-left: 40px;
}

/*------------
 footer style 
 -------------*/
 footer{
     width: 484px;
     height: 213px;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0px auto 63px auto;
 }

 .logo-area{
    width: 484px;
    height: 110px;
 }
  
 .logo{
    width: 100%;
    height: 100%;
 }
 .icon-area{
     margin-top: 20px;
     margin-bottom: 20px;
     
 }
 .icon-style{
     font-size: 32px;
     margin-right: 14px;
    }
 
 .copyright-area p{
     font-size: 18px;
     margin: 0;
 }

 /*----------
  media query 
  -----------*/
  @media only screen and (max-width:688px) {
       
    header{
        flex-direction: column;
        align-items: center;
        width: 100%;
       
    }
    .container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(1,1fr);
    }
    footer{
        width: 350px;

    }
    .banner-heading{
        width: 300px;
        margin-right: 103px;
        margin-left: 156px;
        margin-top: 207px;
        margin-bottom: 240px;
    }
    .banner-title{
        font-size: 54px;
        }
    
        .banner-image{
            width:350px;
        }
        .banner-image img{
            width: 100%;
            height: 400px;
            
          }
        }
    @media only screen and (max-width:992px) and (min-width:688px) {
            header{
                flex-direction: column;
            }
            .container{
               width: 100%;
            }
            .players{
                grid-template-columns: repeat(2,1fr);
            }
    }


 
